input{
    width: 350px;
}

.form{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(5, 75px);
    margin-left: 50px;
}

.level{
    margin-left: 50px;
}

.level input{
    margin-left: 10px;
}

.personagem{
    margin: 50px 0 50px 50px;
}

.personagem input{
    margin-left: 10px;
}

.subInput{
    width: 100px;
}

.msg{
    margin: 50px;
    font-size: 18px;
    font-weight: 700;
    padding: 20px;
    width: 40%;
}

.links{
    margin: 50px 0 0 50px;
}

