.endGame{
	width: 100vw;
	height: 95vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.endGame .winner{
	text-align: center;
	font-size: 64px;
	font-weight: bold;
}

.jogarNovamente{
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
}